{% load static from staticfiles %}
<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1250px; height: 440px; overflow: hidden; visibility: hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
        <div style="position:absolute;display:block;background:url("{% static 'jssor_slider/img/loading.gif' %}") no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
    </div>
    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="{% static 'jssor_slider/img/u10.png' %}" />
            <div style="position: absolute; top: 30px; left: 30px; width: 480px; height: 120px; font-size: 30px; color: #888; line-height: 60px;">
                Anywhere and Anytime logistic
            </div>
        </div>
        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="{% static 'jssor_slider/img/u12.png' %}" />
            <div style="position: absolute; top: 30px; left: 30px; width: 480px; height: 120px; font-size: 30px; color: #888; line-height: 60px;">
                
            </div>
            <div data-u="caption" data-t="0" style="position: absolute; top: 210px; left: 650px; width: 470px; height: 220px; font-size: 30px; color: #ffffff; line-height: 38px;">
                
            </div>
            <div data-u="caption" data-t="5" style="position: absolute; top: 230px; left: 650px; width: 470px; height: 220px; font-size: 30px; color: #ffffff; line-height: 38px;">
                
            </div>
        </div>
        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="{% static 'jssor_slider/img/u14.png' %}" />
            <div style="position: absolute; top: 30px; left: 30px; width: 480px; height: 120px; font-size: 50px; color: #888; line-height: 60px;">
                
            </div>
        </div>
    </div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
        <!-- bullet navigator item prototype -->
        <div data-u="prototype" style="width:16px;height:16px;"></div>
    </div>
    <!-- Arrow Navigator -->
    <span data-u="arrowleft" class="jssora22l" style="top:0px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
    <span data-u="arrowright" class="jssora22r" style="top:0px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>
    <a href="http://www.jssor.com" style="display:none">Bootstrap Carousel</a>
</div>

<!-- #endregion Jssor Slider End -->
