{% extends "common/layout_nonuser.html" %}
{% load name %}


{% block additional_css %}

{% endblock %}


{% block inside_body %}


<!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="page-title">
          		<span class="label label-purple text-center fade in">
	            	Promosi kami
	            </span>
	      </h4>
        </div>
      </div>
      <!-- /.row -->
      <!-- .row -->
      <div class="row">
        <div class="col-md-12">
          <div class="white-box">
            <div class="row pricing-plan">
              <div class="col-md-4 col-xs-12 col-sm-12 no-padding">
                <div class="pricing-box">
                  <div class="pricing-body b-l">
                    <div class="pricing-header">
                      <h6 class="text-center">Buat Aplikasi Sekarang</h6>
                      <h3 class="text-center">Penawaran Kami</h3>
                    </div>
                    <div class="price-table-content">
                      <div class="price-row"><i class="fa fa-money"></i> <br/>
						Dana bla2 deh.<br/>.
					  </div>
					  <div class="price-row">
                        <button class="btn btn-success waves-effect waves-light m-t-20">Cek disini</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-md-4 col-xs-12 col-sm-12 no-padding">
                <div class="pricing-box featured-plan">
                  <div class="pricing-body">
                    <div class="pricing-header">
                      <h3 class="price-lable text-white bg-warning"> Popular</h3>
                      <h6 class="text-center">Hot</h6>
                      <h3 class="text-center">Cashback Menarik</h3>
                    </div>
                    <div class="price-table-content">
                      <div class="price-row"><i class="fa fa-money"></i> <br/>
                      	Cashback hanya pada periode promosi.
                      </div>
                      <div class="price-row">
                        <button class="btn btn-lg btn-info waves-effect waves-light m-t-20">Cek disini</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-xs-12 col-sm-12 no-padding">
                <div class="pricing-box">
                  <div class="pricing-body b-r">
                    <div class="pricing-header">
                      <h6 class="text-center">15<span class="price-sign">%</span></h6>
                      <h3 class="text-center">Penawaran Menarik</h3>
                    </div>
                    <div class="price-table-content">
                      <div class="price-row"><i class="icon-user"></i> <br/>
                      	Dana Cair sampai - 100% off. <br/>.
                      </div>
                      <div class="price-row">
                        <button class="btn btn-success waves-effect waves-light m-t-20">Cek disini</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

        </div>
      </div>
      <!-- /.row -->
      
{% endblock %}

{% block script_additional %}
	
{% endblock %}

{% block script_bottom_inside %}
	jQuery(document).ready(function() {
	    //$("#id_welcome_dashboard a:first").removeClass("active");
	    //$("#id_welcome_aboutus a:first").addClass("active");
    });
{% endblock %}

