{% load unit utils %}
{% load checkusergroup from common %}

<!-- customtab -->
<ul class="nav nav-tabs customtab tabs">
    <li class="tab active">
      <a href="#dvc" data-toggle="tab" title="Customer">
        <span class="visible-xs">
          <i class="fa fa-user"></i>
        </span>
        <span class="hidden-xs">Customer</span>
      </a>
    </li>
    <li class="tab">
      <a href="#st" data-toggle="tab" aria-expanded="false" title="Skip Tracing">
        <span class="visible-xs"><i class="fa fa-chevron-circle-down"></i></span>
        <span class="hidden-xs">ST</span>
      </a>
    </li>
</ul>
<div id="slim_apps">
  <div class="tab-content">
    {% if 'bl_statement' in request.path %}
      <!-- Tab personal -->
      <div class="tab-pane active" id="dvc">
        {% include "object/bl_statement/include/tab_customer.html" %}
      </div>
      <!-- Tab Skip Tracing -->
      <div class="tab-pane" id="st">
        {% include "object/app_status/include/tab_skip_tracing.html" %}
      </div>
    {% endif %}
  </div>
</div>