<html lang="id-ID">

<head>
  <meta charset="utf-8">
  <title>Bukalapak</title>
  <meta content="width=device-width, minimum-scale=1, initial-scale=1, maximum-scale=1, user-scalable=no"
    name="viewport">
  <link rel="shortcut icon" type="image/x-icon" href="https://s1.bukalapak.com/favicon.ico">
  <link rel="stylesheet" media="screen"
    href="https://s3.bukalapak.com/ast/mobile-317b6fa824f7c26ae7dd36aa975d6764758dca901910b80bfa2c6f7558105f7c.css">
</head>

<body class="home-c error-a">
  <div class="bottom-sticky" id="wrapper">
    <div class="wrapper-content is-active">
      <header class="layout-header layout-header--float js-layout-header" id="page_header" role="banner">
        <div class="header__wrapper">
          <div class="layout-header__left">
            <a class="bl-logo" href="/" title="Belanja Online Aman, Nyaman dan Terpercaya di Bukalapak">
              <span class="m-icon m-icon--logo"></span>
            </a>
          </div>
        </div>
      </header>
      <div class="fixed-header" id="main" role="main">
        <div id="page" style="height: 65%; min-height: 50%;">
          <div style="padding-top: 10%;">
            <div class="list-not-found">
              
              <p class="no-icon title">
                Selamat proses Aktivasi fitur Bukalapak BayarNanti Berhasil!
              </p>
              <p class="no-icon">
                <a href="{{ link }}"> Klik link ini
                  untuk kembali ke aplikasi
                  Bukalapak</a>
              </p>
            </div>
          </div>

        </div>
        <div class="breadcrumb" id="breadcrumb">
          <div class="clearfix" id="breacrumb_list">
            <div style="text-align: center;  transform:translateY(-10px);">
              Penyedia:
              <img src="https://www.julofinance.com/images/JULO_logo_small.png" alt="Julo"
                style="padding-left: 20px; padding-right: 20px; width: 50px; display: inline; transform:translateY(3px);">
              Diawasi oleh:
              <img src="https://www.julo.co.id/assets/vector/pinjaman_online_JULO_terdaftar_OJK_2.svg"
                style="width: 70px; display: inline;  transform:translateY(10px);">
            </div>
          </div>
        </div>
      </div>
      <footer class="clearfix js-layout-footer" id="page_footer" role="contentinfo">
        <div class="download-apps-wrapper">
          
          
            
              
                
                
            
            
              
                
            
          
        </div>
        <nav class="footer-nav">
          <h3 class="footer-nav-slogan">
            Copyright 2019 · Bukalapak · Mudah &amp; Terpercaya
          </h3>

        </nav>
      </footer>
    </div>
  </div>
</body>

</html>