{% extends "common/theme1/layout_theme1.html" %}

{% load checkusergroup from common %}
{% load ifusergroup from common %}
{% load static from staticfiles %}

{% block css_inside %}
  .bold {
    font-weight: 500;
    color: #2b2b2b;
  }

  @media (min-width: 768px) {
    .header-content {
      margin-left: 8%;
    }

    .content {
      margin-left: 15%;
    }

    .header-title {
      margin-left: 5%;
    }
  }

  div > p {
    font-weight: 500;
    color: #2b2b2b;
  }

  .column-top {
    margin-top: 25px;
  }

  .btn-julo {
    background-color: #02A8F3;
    border-color: #02A8F3;
    width: 45%;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
  }

  .btn-nav {
    border-color: white;
    border-bottom-color: #ebebeb;
    border-width: 2px;
    width: 170px;
    border-shadow: none;
  }

  .btn-nav-active {
    border-bottom-color: #fb9678;
    color: #fb9678;
  }

  button:active {
    border-style: none;
  }

  .edit-btn {
    border-radius: 17px;
    width: 100px;
    height: 33px;
    text-transform: uppercase;
    background-color: #fec107;
    color: #ffffff;
  }

  .modal-position {
    display: none;
    flex-direction: column;
    justify-content: center;
  }

  .status_font {
    font-size: 24px;
  }
  .analytics-info {
    border: solid 1px;
    border-radius: 3px;
  }
  .panel{
    border: solid 1px;
    border-radius: 3px;
  }
  .container-fluid {
    background-color: white;
  }
  hr{
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }
   .clearFix
   {
       clear:both;
   }
   .panel.panel-chat
   {
       position: fixed;
       bottom:0;
       right:10px;
       max-width: 800px;
       box-shadow: none;
       -webkit-box-shadow: none;
   }
   .panel.panel-chat.panel-chat-extend
   {
       position: fixed;
       bottom:0;
       right:60em;
       max-width: 800px;
       height:50em;
       box-shadow: none;
       -webkit-box-shadow: none;
   }
   .panel.panel-chat .panel-heading
   {
       background: #4b67a8;
       border: 1px solid #2e4588;
       color:#FFF;
   }
   .panel.panel-chat .panel-heading a:nth-of-type(1)
   {
       text-decoration: none;
       width: 800px;
       color:#FFF;
       font-weight: bold;
       float:left;
   }
   .panel.panel-chat .panel-heading a:nth-of-type(2)
   {
       text-decoration: none;
       max-width: 11px;
       width: 11px;
       color:#FFF;
       float:right;
   }
   .panel.panel-chat .panel-body
   {
       display: block;
       padding: 10px;
       margin: 0;
       max-height: 350px;
       height: 350px;
       border-left: 1px solid #b2b2b2;
       border-right: 1px solid #b2b2b2;
       background: white;
       overflow: auto;
   }
   .panel.panel-chat .panel-body::-webkit-scrollbar {
        display: none;
    }
    .panel.panel-chat .panel-body-extend
    {
        display: block;
        padding: 10px;
        margin: 0;
        max-height: 40em;
        height: 40em;
        border-left: 1px solid #b2b2b2;
        border-right: 1px solid #b2b2b2;
        background: white;
        overflow: auto;
    }
    .panel.panel-chat .panel-body-extend::-webkit-scrollbar {
         display: none;
     }
    .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .custom-button{
      border: 2px solid #4CAF50;
      background-color: white;
      color: green;
      padding: 5px 28px;
      font-size: 16px;
      cursor: pointer;
    }
    .custom-button:hover {
      background-color: #4CAF50;
      color: white;
    }
    .status-box {
      background: #ffffff;
      margin-bottom: 15px;
    }
    .status-box-title {
      padding: 20px 25px;
      text-align: center;
      border-bottom: 1px solid #eee;
    }
    .status-box-footer {
      padding: 25px;
      text-align: center;
    }
    .status-box-title-text{
      font-weight: 600;
      color: #2B2B2B
    }
    .fs-24{
      font-size: 24px
    }
    .load-card-title{
      padding: 25px 25px 0px 25px;
      border-bottom: 1px solid #eee;
    }
    .load-card-body{
      padding: 10px 25px 25px;
    }
    .p-0{
      padding: 0px;
    }
    .card-tag{
      position: absolute;
      top: 5px;
      right: 12px;
      text-transform: uppercase;
      background-color: white;
      padding: 0px 5px;
      border-radius: 10%;
      color: #2B2B2B;
      font-size: 12px;
      font-weight: 500;
    }
    .dark-color{
      color: "#2B2B2B"
    }
    .light-color{
      color: "#fff"
    }

{% endblock %}


{% block script_head %}

{% endblock %}

{% block inside_body %}
<!-- Preloader -->
<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
  <div id="app" class="container-fluid" style="padding-right: 100px">
    <div class="row">
      <div class="header-title m-b-10 m-t-10">
        <h5 style="text-transform: uppercase" class="bold">Smartphone Financing</h5>
      </div>
    </div>
    <div class="row" style="margin-left: 100px; margin-top: 10px">
        <!-- List verification status -->
      {% for status_object in object_list %}
        <div class="col-lg-1 col-sm-1 col-xs-6">
          <a href="{% url 'julo_financing_crm:verification_status_list' status_object.validation_status %}" id="app_cashback_failed" target="_blank">
            <div class="panel panel-info">
              {% load julo_financing_tags %}
                {% with status=status_object.validation_status %}
                    <div class="panel-heading" style="text-align: center; padding-left: 10px; padding-right: 10px">
                        {{ status_display|value_from_dict:status }}
                    </div>
                {% endwith %}
                <div class="panel-wrapper collapse in" aria-expanded="true">
                  <div class="panel-body">
                      <span class="status_font text-success">{{ status_object.status_count }}</span>
                  </div>
                </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block custom_link %}
<link href="{% static 'theme/plugins/bower_components/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />
{% endblock %}
{% block script_additional %}
<script src="{% static 'default/js/vue.js' %}"></script>
<script src="{% static 'default/js/filter.js' %}"></script>
{% endblock %}
