{% load checkusergroup from common %}
{% load unit utils %}

<ul class="nav nav-tabs customtab tabs" id="balance_consolidation_document">
  <li class="tab active"><a href="#doc_verify" data-toggle="tab" title="Document Verify">
    <span class="visible-xs"><i class="fa fa-file-text-o"></i></span> <span class="hidden-xs">Document Verify</span> </a>
  </li>
  {% if object.validation_status == 'on_review' %}
    <li id="reupload_document">
      <a href="{% url 'balance_consolidation_crm:balance_consolidation_verification_upload_document' verification_id=object.pk %}" class="btn btn-rounded btn-outline-success upload-document-button" title="Upload document">
        <span class="visible-xs"><i class="fa fa-file-text-o"></i></span> <span class="hidden-xs">Upload document</span>
      </a>
  </li>
  {% endif %}
</ul>

<div id="slim_apps2">
  <div class="tab-content">
    <!-- Document Verify -->
    <div class="tab-pane active" id="doc_verify">
      <div class="row block_image" id="image_row">
        <div class="col-sm-12">
          <a id="document_url" target="_blank" href="{{object.balance_consolidation.loan_agreement_document_url}}">
            <div class="watermarked">
              <embed src="{{object.balance_consolidation.loan_agreement_document_url}}" style="width: 100%; height: 450px" class="img-responsive"/>
            </div>
            More...
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
