{% load unit utils %}
{% load static %}
{% load checkusergroup from common %}

<!-- customtab -->
<ul class="nav nav-tabs customtab tabs">
  <li class="tab active">
    <a href="#data" data-toggle="tab" title="Data" class="tab_data">
      <span class="visible-xs">
        <i class="fa fa-user"></i>
      </span>
      <span class="hidden-xs">Data</span>
    </a>
  </li>
  <li class="tab">
    <a href="#bank_account" data-toggle="tab" title="Data" class="tab_bank_account">
      <span class="visible-xs">
        <i class="fa fa-user"></i>
      </span>
      <span class="hidden-xs">Bank Account</span>
    </a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="data">
    {% include "include/data_tab.html" with object=object.balance_consolidation %}
  </div>
  <div class="tab-pane" id="bank_account">
    {% include "include/tab_name_bank_validate.html" %}
  </div>
</div>

<div class="row m-t-10">
  <div class="col-md-12 col-xs-12 m-p-20">
    <button type="button"
            class="btn btn btn-warning btn-block"
            id="btn_update_balance_cons_data"
            data-toggle="modal">
      <i class="txt-warning fa fa-save fa-fw"></i> Update Aplikasi
    </button>
  </div>
</div>
<div class="m-t-10">
  {% include "include/approval_component.html" %}
</div>
<div id="modal-update-balance-cons" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header label-danger">
        <h4 class="modal-title" id="modal-update-balance-cons-title"></h4>
      </div>
      <div class="modal-body" id="modal-update-balance-cons-body">
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Batal</button>
          <button id="update-balance-cons" type="button" class="btn btn-success waves-effect">Ya, Update Aplikasi</button>
      </div>
    </div>
  </div>
</div>
<div id="modal-success-default" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header label-warning">
        <h4 class="modal-title" id="modal-default-title"></h4>
      </div>
      <div class="modal-body" id="modal-default-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Tutup</button>
      </div>
    </div>
  </div>
</div>
