<div class="col-lg-4 col-sm-2 col-xs-12" v-if="bucket.key === 'Tminus5' && '{{ role_name }}' === 'collection_bucket_1'">
  <a :href="bucket.url" target="_blank">
    <div class="white-box analytics-info">
      <h3 class="box-title"><% bucket.name %></h3><hr>
      <ul class="list-inline two-part">
        <li>
          <i class="linea-icon linea-basic" data-icon="&#xe00b;"></i>
        </li>
        <li class="text-right"><span class="counter text-info"><% collection_dashboard[bucket.key] %></span></li>
      </ul>
    </div>
  </a>
</div>
<div class="col-lg-4 col-sm-2 col-xs-12" v-else-if="bucket.key === 'Tminus5'">
  <a :href="bucket.col_bucket_1_url" target="_blank">
    <div class="white-box analytics-info">
      <h3 class="box-title"><% bucket.name %></h3><hr>
      <ul class="list-inline two-part">
        <li>
          <i class="linea-icon linea-basic" data-icon="&#xe00b;"></i>
        </li>
        <li class="text-right"><span class="counter text-info"><% collection_dashboard[bucket.key] %></span></li>
      </ul>
    </div>
  </a>
</div>

<div class="col-lg-4 col-sm-2 col-xs-12" v-if="bucket.key === 'Tminus3' && '{{ role_name }}' === 'collection_bucket_1'">
  <a :href="bucket.url" target="_blank">
    <div class="white-box analytics-info">
      <h3 class="box-title"><% bucket.name %></h3><hr>
      <ul class="list-inline two-part">
        <li>
          <i class="linea-icon linea-basic" data-icon="&#xe00b;"></i>
        </li>
        <li class="text-right"><span class="counter text-info"><% collection_dashboard[bucket.key] %></span></li>
      </ul>
    </div>
  </a>
</div>
<div class="col-lg-4 col-sm-2 col-xs-12" v-else-if="bucket.key === 'Tminus3'">
  <a :href="bucket.col_bucket_1_url" target="_blank">
    <div class="white-box analytics-info">
      <h3 class="box-title"><% bucket.name %></h3><hr>
      <ul class="list-inline two-part">
        <li>
          <i class="linea-icon linea-basic" data-icon="&#xe00b;"></i>
        </li>
        <li class="text-right"><span class="counter text-info"><% collection_dashboard[bucket.key] %></span></li>
      </ul>
    </div>
  </a>
</div>

<div class="col-lg-4 col-sm-2 col-xs-12" v-if="bucket.key === 'Tminus1' && '{{ role_name }}' === 'collection_bucket_1'">
  <a :href="bucket.url" target="_blank">
    <div class="white-box analytics-info">
      <h3 class="box-title"><% bucket.name %></h3><hr>
      <ul class="list-inline two-part">
        <li>
          <i class="linea-icon linea-basic" data-icon="&#xe00b;"></i>
        </li>
        <li class="text-right"><span class="counter text-info"><% collection_dashboard[bucket.key] %></span></li>
      </ul>
    </div>
  </a>
</div>
<div class="col-lg-4 col-sm-2 col-xs-12" v-else-if="bucket.key === 'Tminus1'">
  <a :href="bucket.col_bucket_1_url" target="_blank">
    <div class="white-box analytics-info">
      <h3 class="box-title"><% bucket.name %></h3><hr>
      <ul class="list-inline two-part">
        <li>
          <i class="linea-icon linea-basic" data-icon="&#xe00b;"></i>
        </li>
        <li class="text-right"><span class="counter text-info"><% collection_dashboard[bucket.key] %></span></li>
      </ul>
    </div>
  </a>
</div>

<div class="col-lg-4 col-sm-2 col-xs-12" v-if="bucket.key === 'T0' && '{{ role_name }}' === 'collection_bucket_1'">
  <a :href="bucket.url" target="_blank">
    <div class="white-box analytics-info">
      <h3 class="box-title"><% bucket.name %></h3><hr>
      <ul class="list-inline two-part">
        <li>
          <i class="linea-icon linea-basic" data-icon="&#xe00b;"></i>
        </li>
        <li class="text-right"><span class="counter text-info"><% collection_dashboard[bucket.key] %></span></li>
      </ul>
    </div>
  </a>
</div>
<div class="col-lg-4 col-sm-2 col-xs-12" v-else-if="bucket.key === 'T0'">
  <a :href="bucket.col_bucket_1_url" target="_blank">
    <div class="white-box analytics-info">
      <h3 class="box-title"><% bucket.name %></h3><hr>
      <ul class="list-inline two-part">
        <li>
          <i class="linea-icon linea-basic" data-icon="&#xe00b;"></i>
        </li>
        <li class="text-right"><span class="counter text-info"><% collection_dashboard[bucket.key] %></span></li>
      </ul>
    </div>
  </a>
</div>