{% load unit %}
<tr class= "ca-none dv {{ app_data.marital_status.statuses|ca_tr_class|default:''|safe}}">
  <td class="col-xs-8">
    <div class="col-xs-6 no-left"><strong>Status Pernikahan</strong></div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm
                  {% if form_app.marital_status.errors %} has-error {% endif %}">
        {{form_app.marital_status}}
        <span class="input-group-btn">
          <button type="button" class="btn btn-info btn-grp-default"
                  onclick="setDefaultValue('id_form2-marital_status',
                  '{{ object.marital_status|safe }}');">
            <i class="fa fa-history fa-fw"></i>
          </button>
        </span>
      </div>
    </div>
  </td>
  {% with object=app_data.marital_status field_name='marital_status'%}
    {% include "object/app_status/include/ca_ceklist.html" %}
  {% endwith %}
</tr>

<tr class= "ca-none {{ app_data.dependent.statuses|ca_tr_class|default:''|safe}}">
  <td class="col-xs-8">
    <div class="col-xs-6 no-left"><strong>Jumlah Tanggungan</strong></div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm
                  {% if form_app.dependent.errors %} has-error {% endif %}">
        {{form_app.dependent}}
        <span class="input-group-btn">
          <button type="button" class="btn btn-info btn-grp-default"
                  id="id_btn-dependent"
                  onclick="setDefaultValue('id_form2-dependent',
                          '{{ object.dependent|safe }}');">
            <i class="fa fa-history fa-fw"></i>
          </button>
        </span>
      </div>
    </div>
    {% if form_app.dependent.errors %}
      <span class="help-block error_msg h5">
        <small>{{ form_app.dependent.errors.as_text }}</small>
      </span>
    {% endif %}
  </td>
  {% with object=app_data.dependent field_name='dependent'%}
    {% include "object/app_status/include/ca_ceklist.html" %}
  {% endwith %}
</tr>

<tr class= "ca-none {{ app_data.spouse_name.statuses|ca_tr_class|default:''|safe}} dv coll">
  <td class="col-xs-8">
    <div class="col-xs-6 no-left"><strong>Nama Pasangan</strong></div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm
                  {% if form_app.spouse_name.errors %} has-error {% endif %}">
        {{ form_app.spouse_name }}
        <span class="input-group-btn">
          <button type="button" class="btn btn-info btn-grp-default"
                  id="id_btn-spouse_name"
                  onclick="setDefaultValue('id_form2-spouse_name',
                          '{{ object.spouse_name|safe }}');">
            <i class="fa fa-history fa-fw"></i>
          </button>
        </span>
      </div>
    </div>
  </td>
  {% with object=app_data.spouse_name field_name='spouse_name'%}
    {% include "object/app_status/include/ca_ceklist.html" %}
  {% endwith %}
</tr>

{% if status_current.status_code < 300 or status_current.status_code >= 400 %} <tr class= "ca-none {{ app_data.spouse_dob.statuses|ca_tr_class|default:''|safe}}">
  <td class="col-xs-8">
    <div class="col-xs-6 no-left"><strong>Tgl Lahir Pasangan</strong></div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm
                  {% if form_app.spouse_dob.errors %} has-error {% endif %}">
          <input class="form-control mydatepicker"
                 id="id_form2-spouse_dob" maxlength="None"
                 name="form2-spouse_dob" placeholder="dd-mm-yyyy "
                 type="text" value="{{ object.spouse_dob|date:'d-m-Y'|default:''|safe }}">
          <span class="input-group-btn">
            <button type="button" class="btn btn-info btn-grp-default"
                    id="id_btn-spouse_dob"
                    onclick="setDefaultValue('id_form2-spouse_dob',
                              '{{ object.spouse_dob|date:'d-m-Y'|safe }}');">
              <i class="fa fa-history fa-fw"></i>
            </button>
          </span>
      </div>
    </div>
  </td>
  {% with object=app_data.spouse_dob field_name='spouse_dob'%}
    {% include "object/app_status/include/ca_ceklist.html" %}
  {% endwith %}
</tr> {% endif %}

<tr class= "ca-none {{ app_data.spouse_mobile_phone.statuses|ca_tr_class|default:''|safe}} dv coll">
  <td class="col-xs-8">
    <div class="col-xs-6 no-left"><strong>No. HP Pasangan</strong></div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm
                  {% if form_app.spouse_mobile_phone.errors %} has-error {% endif %}">
        {{form_app.spouse_mobile_phone}}
        <span class="input-group-btn">
          <button type="button" class="btn btn-info btn-grp-default"
                  id="id_btn-spouse_mobile_phone"
                  onclick="setDefaultValue('id_form2-spouse_mobile_phone',
                          '{{ object.spouse_mobile_phone|safe }}');">
            <i class="fa fa-history fa-fw"></i>
          </button>
        </span>
      </div>
    </div>
    {% if form_app.spouse_mobile_phone.errors %}
      <span class="help-block error_msg h5">
        <small>{{ form_app.spouse_mobile_phone.errors.as_text }}</small>
      </span>
    {% endif %}
  </td>
  {% with object=app_data.spouse_mobile_phone field_name='spouse_mobile_phone'%}
    {% include "object/app_status/include/ca_ceklist.html" %}
  {% endwith %}
</tr>

<tr class= "ca-none">
  <td class="col-xs-8">
    <div class="col-xs-6 no-left"><strong>HP Pasangan Ada WA</strong></div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm
                  {% if form_app.spouse_has_whatsapp.errors %} has-error {% endif %}">
        {{form_app.spouse_has_whatsapp}}
      </div>
    </div>
    {% if form_app.spouse_has_whatsapp.errors %}
      <span class="help-block error_msg h5">
        <small>{{ form_app.spouse_has_whatsapp.errors.as_text }}</small>
      </span>
    {% endif %}
  </td>
    {% include "object/app_status/include/ca_ceklist_empty.html" %}
</tr>


<tr class= "ca-none {{ app_data.close_kin_name.statuses|ca_tr_class|default:''|safe}} coll">
  <td class="col-xs-8">
    <div class="col-xs-6 no-left"><strong>Nama Keluarga Kandung Terdekat</strong></div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm
                  {% if form_app.close_kin_name.errors %} has-error {% endif %}">
        {{form_app.close_kin_name}}
        <span class="input-group-btn"
              onclick="setDefaultValue('id_form2-close_kin_name', '{{ object.close_kin_name|safe }}');">
          <button type="button" class="btn btn-info btn-grp-default">
            <i class="fa fa-history fa-fw"></i>
          </button>
        </span>
      </div>
    </div>
    {% if form_app.close_kin_name.errors %}
      <span class="help-block error_msg h5">
        <small>{{ form_app.close_kin_name.errors.as_text }}</small>
      </span>
    {% endif %}
  </td>
  {% with object=app_data.close_kin_name field_name='close_kin_name'%}
    {% include "object/app_status/include/ca_ceklist.html" %}
  {% endwith %}
</tr>

<tr class= "ca-none {{ app_data.close_kin_mobile_phone.statuses|ca_tr_class|default:''|safe}} coll">
  <td class="col-xs-8">
    <div class="col-xs-6 no-left"><strong>No HP Keluarga Kandung Terdekat</strong></div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm
                  {% if form_app.close_kin_mobile_phone.errors %} has-error {% endif %}">
        {{form_app.close_kin_mobile_phone}}
        <span class="input-group-btn"
              onclick="setDefaultValue('id_form2-close_kin_mobile_phone',
              '{{ object.close_kin_mobile_phone|safe }}');">
          <button type="button" class="btn btn-info btn-grp-default">
            <i class="fa fa-history fa-fw"></i>
          </button>
        </span>
      </div>
    </div>
  </td>
  {% with object=app_data.close_kin_mobile_phone field_name='close_kin_mobile_phone'%}
    {% include "object/app_status/include/ca_ceklist.html" %}
  {% endwith %}
</tr>

<tr class= "ca-none {{ app_data.close_kin_relationship.statuses|ca_tr_class|default:''|safe}} coll">
  <td class="col-xs-8">
    <div class="col-xs-6 no-left"><strong>Hubungan Keluarga Terdekat</strong></div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm
                  {% if form_app.close_kin_relationship.errors %} has-error {% endif %}">
        {{form_app.close_kin_relationship}}
        <span class="input-group-btn">
          <button type="button" class="btn btn-info btn-grp-default"
                  onclick="setDefaultValue('id_form2-close_kin_relationship',
                  '{{ object.close_kin_relationship|safe }}');">
              <i class="fa fa-history fa-fw"></i>
          </button>
        </span>
      </div>
    </div>
  </td>
  {% with object=app_data.close_kin_relationship field_name='close_kin_relationship'%}
    {% include "object/app_status/include/ca_ceklist.html" %}
  {% endwith %}
</tr>

{% if not is_julo_one_or_starter %}<tr class= "ca-none {{ app_data.kin_name.statuses|ca_tr_class|default:''|safe}} {{ is_julo_one_or_starter }} coll">
  <td class="col-xs-8">
    <div class="col-xs-6 no-left"><strong>Nama Keluarga Kandung</strong></div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm
                  {% if form_app.kin_name.errors %} has-error {% endif %}">
        {{form_app.kin_name}}
        <span class="input-group-btn"
              onclick="setDefaultValue('id_form2-kin_name', '{{ object.kin_name|safe }}');">
          <button type="button" class="btn btn-info btn-grp-default">
            <i class="fa fa-history fa-fw"></i>
          </button>
        </span>
      </div>
    </div>
    {% if form_app.kin_name.errors %}
      <span class="help-block error_msg h5">
        <small>{{ form_app.kin_name.errors.as_text }}</small>
      </span>
    {% endif %}
  </td>
  {% with object=app_data.kin_name field_name='kin_name'%}
    {% include "object/app_status/include/ca_ceklist.html" %}
  {% endwith %}
</tr> {% endif %}

{% if status_current.status_code < 300 or status_current.status_code >= 400 and not is_julo_one_or_starter %} <tr class= "ca-none {{ app_data.kin_dob.statuses|ca_tr_class|default:''|safe}}">
  <td class="col-xs-8">
    <div class="col-xs-6 no-left"><strong>Tgl Lahir Keluarga Kandung</strong></div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm
                {% if form_app.kin_dob.errors %} has-error {% endif %}">
        <input class="form-control mydatepicker"
              id="id_form2-kin_dob" maxlength="None"
              name="form2-kin_dob" placeholder="dd-mm-yyyy "
              type="text" value="{{ object.kin_dob|date:'d-m-Y'|default:''|safe }}">
        <span class="input-group-btn"
              onclick="setDefaultValue('id_form2-kin_dob',
                      '{{ object.kin_dob|date:'d-m-Y'|safe }}');">
          <button type="button" class="btn btn-info btn-grp-default">
            <i class="fa fa-history fa-fw"></i>
          </button>
        </span>
      </div>
    </div>
    {% if form_app.kin_dob.errors %}
      <span class="help-block error_msg h5">
        <small>{{ form_app.kin_dob.errors.as_text }}</small>
      </span>
    {% endif %}
  </td>
  {% with object=app_data.kin_dob field_name='kin_dob'%}
    {% include "object/app_status/include/ca_ceklist.html" %}
  {% endwith %}
</tr> {% endif %}

{% if not is_julo_one_or_starter %}<tr class= "ca-none {{ app_data.kin_gender.statuses|ca_tr_class|default:''|safe}} coll">
  <td class="col-xs-8">
    <div class="col-xs-6 no-left"><strong>Jenis Kelamin Keluarga Kandung</strong></div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm
                  {% if form_app.kin_gender.errors %} has-error {% endif %}">
        {{form_app.kin_gender}}
        <span class="input-group-btn">
          <button type="button" class="btn btn-info btn-grp-default"
                  onclick="setDefaultValue('id_form2-kin_gender',
                  '{{ object.kin_gender|safe }}');">
            <i class="fa fa-history fa-fw"></i>
          </button>
        </span>
      </div>
    </div>
  </td>
  {% with object=app_data.kin_gender field_name='kin_gender'%}
    {% include "object/app_status/include/ca_ceklist.html" %}
  {% endwith %}
</tr> {% endif %}

{% if not is_julo_one_or_starter %}<tr class= "ca-none {{ app_data.kin_mobile_phone.statuses|ca_tr_class|default:''|safe}} coll">
  <td class="col-xs-8">
    <div class="col-xs-6 no-left"><strong>No HP Keluarga Kandung</strong></div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm
                  {% if form_app.kin_mobile_phone.errors %} has-error {% endif %}">
        {{form_app.kin_mobile_phone}}
        <span class="input-group-btn"
              onclick="setDefaultValue('id_form2-kin_mobile_phone',
              '{{ object.kin_mobile_phone|safe }}');">
          <button type="button" class="btn btn-info btn-grp-default">
            <i class="fa fa-history fa-fw"></i>
          </button>
        </span>
      </div>
    </div>
  </td>
  {% with object=app_data.kin_mobile_phone field_name='kin_mobile_phone'%}
    {% include "object/app_status/include/ca_ceklist.html" %}
  {% endwith %}
</tr> {% endif %}

{% if not is_julo_one_or_starter %}<tr class= "ca-none {{ app_data.kin_relationship.statuses|ca_tr_class|default:''|safe}} coll">
  <td class="col-xs-8">
    <div class="col-xs-6 no-left"><strong>Hubungan</strong></div>
    <div class="col-xs-6">
      <div class="input-group input-group-sm
                  {% if form_app.kin_relationship.errors %} has-error {% endif %}">
        {{form_app.kin_relationship}}
        <span class="input-group-btn">
          <button type="button" class="btn btn-info btn-grp-default"
                  onclick="setDefaultValue('id_form2-kin_relationship',
                  '{{ object.kin_relationship|safe }}');">
              <i class="fa fa-history fa-fw"></i>
          </button>
        </span>
      </div>
    </div>
  </td>
  {% with object=app_data.kin_relationship field_name='kin_relationship'%}
    {% include "object/app_status/include/ca_ceklist.html" %}
  {% endwith %}
</tr> {% endif %}
