{% load unit %}
{% load checkusergroup from common %}
<table class="table table-hover table-striped">
  <tbody>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Nama</b>
        </div>
        <div class="col-xs-6">
          : {{ object.fullname|default:"-"|safe}}
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Tanggal Lahir</b>
        </div>
        <div class="col-xs-6">
          : {{ object.dob|convert_date_to_string:"dd MMMM yyyy"|default:"-"|safe}}
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Nama Ibu Kandung</b>
        </div>
        <div class="col-xs-6">
          : {{ object.customer.mother_maiden_name|default:"-"|safe}}
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Nomor Handphone</b>
        </div>
        <div class="col-xs-6">
          : {{object.mobile_phone_1|default:"-"|safe}}
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Limit Kredit</b>
        </div>
        <div class="col-xs-6">
          : {{ limit_info.account_limit|f_rupiahs:"no"|safe }}
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Email Lama</b>
        </div>
        <div class="col-xs-6">
          : {{ object.email|default:"-"|safe }}
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Validation Status</b>
        </div>
        <div class="col-xs-6">
          : {{ name_bank_validation.validation_status|default:"-"|safe }}
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Reason</b>
        </div>
        <div class="col-xs-6">
          : {{ name_bank_validation.reason|default:"-"|safe }}
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Bank Name</b>
        </div>
        <div class="col-xs-6">
            <input type="text"
               class="form-control"
               id="id_new_email"
               value='{{ object.bank_name|default:"-"|safe }}'
               readonly
               />
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>No. Rekening</b>
        </div>
        <div class="col-xs-6">
            <input type="text"
               class="form-control"
               id="id_new_email"
               value='{{ object.bank_account_number|default:"-"|safe }}'
               readonly
               />
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Nama Sesuai Rekening</b>
        </div>
        <div class="col-xs-6">
            <input type="text"
               class="form-control"
               id="id_new_email"
               value='{{ object.name_in_bank|default:"-"|safe }}'
               readonly
               />
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Validated Name</b>
        </div>
        <div class="col-xs-6">
          <div class="input-group input-group-sm">
            <input type="text"
                   class="form-control"
                   id="id_validated_name"
                   value='{{ name_bank_validation.validated_name }}'
                   readonly="true"/>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Validation Method</b>
        </div>
        <div class="col-xs-6">
          {% if object.application_status_id == 181 or object.application_status_id == 170 or object.application_status_id == 180 or object.application_status_id == 165 or object.application_status_id == 190 %}
            {{ name_bank_validation.method|default:"-"|safe}}
            <select id="name_bank_validation_method_id" class="form-control hide">
              <option selected value="{{name_bank_validation.method }}">
                {{ name_bank_validation.method|default:"-"|safe}}
              </option>
            </select>
          {% else %}
            <div class="input-group input-group-sm">
              <select id="name_bank_validation_method_id" class="form-control">
                {% for validation_method in validation_method_list %}
                  {% if validation_method == name_bank_validation.method %}
                    <option selected value="{{name_bank_validation.method }}">
                      {{ name_bank_validation.method|default:"-"|safe}}
                    </option>
                  {% else %}
                    <option value="{{ validation_method }}">
                      {{ validation_method|default:"-"|safe}}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          {% endif %}
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Validation ID</b>
        </div>
        <div id="id_validation_id" class="col-xs-6">
          {{ name_bank_validation.validation_id|default:"-"|safe }}
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Partner</b>
        </div>
        <div id="id_partner" class="col-xs-6">
          {{ object.partner.name|default:"-"|safe }}
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- end row -->
