{% load unit %}
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th colspan="2"><strong>NameValidation Details</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Bank Name</b>
        </div>
        <div class="col-xs-6">
          <div class="input-group input-group-sm">
            <input type="text"
                   class="form-control"
                   list="banks"
                   name="banks"
                   id="id_disbursement_bank_name"
                   value="{{object.bank_name}}">
              <datalist class="form_control" id="banks">
                {% for bank in bank_list %}
                  <option value="{{ bank }}">{{ bank }}</option>
                {% endfor %}
              </datalist>
              <span class="input-group-btn"
                    onclick="updateApplicationBankInfo('id_disbursement_bank_name', 'bank_name');">
                <button type="button" class="btn btn-info btn-grp-default">
                  <i class="fa fa-save fa-fw"></i>
                </button>
              </span>
          </div>  
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>No. Rekening</b>
        </div>
        <div class="col-xs-6">
          <div class="input-group input-group-sm">
            <input type="text"
                   class="form-control"
                   name="account_number"
                   id="id_account_number"
                   value="{{object.bank_account_number}}">
            <span class="input-group-btn"
                  onclick="updateApplicationBankInfo('id_account_number', 'bank_account_number');">
              <button type="button" class="btn btn-info btn-grp-default">
                <i class="fa fa-save fa-fw"></i>
              </button>
            </span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="col-xs-12">
        <div class="col-xs-4 no-left">
          <b>Nama Sesuai Rekening Bank</b>
        </div>
        <div class="col-xs-6">
          <div class="input-group input-group-sm">
            <input type="text"
                   class="form-control"
                   id="validation_name_in_bank_id"
                   value='{{ object.name_in_bank }}'/>
            <span class="input-group-btn"
                onclick="updateApplicationBankInfo('validation_name_in_bank_id', 'name_in_bank');">
              <button type="button" class="btn btn-info btn-grp-default">
                <i class="fa fa-save fa-fw"></i>
              </button>
            </span>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

