{% extends 'base.html' %}

{% block content %}
<div style="margin:0px auto;max-width:600px;background:white;">
  <div div style="cursor:auto;color:#5e5e5e;font-family:Montserrat, Roboto, Helvetica, Arial, sans-serif;font-size:15px;line-height:120%;text-align:left; font-weight:500;">
    <b>Yth {{fullname}},</b><br>
    <br>
    Selamat dan terima kasih atas pelunasan pinjaman Anda!<br>
    Untuk mengajukan pinjaman baru, silahkan nantikan kehadiran program talangan berikutnya.
    <br>
  </div>
</div>
{% endblock %}
