<html>
  <body>
    <p>Yth Bapak/Ibu Nasabah JULO,</p>
    <p>Lindungi diri Anda dari modus penipuan yang mengatasnamakan JULO.<br />
    Selalu waspada terhadap semua informasi yang mencurigakan dan pastikan untuk mengkonfirmasi terlebih dahulu ke CS JULO. </p>
    <p><b>Facebook Resmi: </b><a href="https://www.facebook.com/JuloIndonesia/">https://www.facebook.com/JuloIndonesia/</a></p>
    <p><b>Instagram Resmi: </b><a href="https://www.instagram.com/juloindonesia/">https://www.instagram.com/juloindonesia/</a></p>
    <p><b>Email Resmi JULO: </b>cs@julofinance.com dan collections@julofinance.com</p>
    <p>Pastikan pembayaran Anda hanya Atas nama JULO .</p>
    <p><img src="https://trello-attachments.s3.amazonaws.com/5876c1c3cd9da8ec7670e4b7/5aea7b356163c48a03c937ae/9098cdd9602c464885f21bb3eb105783/Alt-1.jpg" ></p>
  </body>
</html>