{% extends 'base.html' %}

{% block content %}
<div style="margin:0px auto;max-width:600px;background:white;">
  <div style="cursor:auto;color:#5e5e5e;font-family:Montserrat, Roboto, Helvetica, Arial, sans-serif;font-size:15px;line-height:120%;text-align:left; font-weight:500;">
    Yth {{fullname}},<br>
    <br>
    Pemotongan saldo dompet pengemudi Grab ke-{{payment_number}} Anda berhasil. Terima kasih!<br>
    <br>
    Selanjutnya, pastikan saldo dompet pengemudi Grab Anda selalu mencukupi untuk pemotongan selanjutnya untuk mendapatkan kesempatan pinjaman yang lebih baik di masa depan. Kunjungi halaman <a href="http://www.julofinance.com/android/goto/loan_activity" style="color:#00acf0">Aktivitas Pinjaman</a> untuk melihat jadwal angsuran.
    <br>
  </div>
</div>
{% endblock %}
