<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <style>
    body {
      color : #5E5E5E;
      font-family: Montserrat;
    }
    h4 {
      color : #0598D0;
      text-align: center;
    }
    tr {
      align: center;
    }
    .installment {
      width: 100%;
      border-collapse: collapse;
      width: 100%;
      text-align: center;
    }
    #topBottomBorder {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
    #topBorder {
      border-top: 1px solid black;
    }
    #bottomBorder {
      border-bottom: 1px solid black;
    }
    .hideExtra {
      white-space: nowrap;
      overflow: hidden;
      text-overflow:ellipsis;
    }
  </style>
</head>
<body>
  <h4>SURAT PERJANJIAN HUTANG PIUTANG<br>
      Nomor: {{ application.application_xid | safe }}</h4>
  <br/>
  <p>Surat Perjanjian Hutang Piutang <b>(“Perjanjian”)</b> ini dibuat dan disetujui pada tanggal {{ signature_date | safe }}, oleh dan antara:</p>
  <ol>

    <li>Pemberi Pinjaman, berdasarkan Surat Kuasa no. SK001 diwakilkan oleh PT. JULO TEKNOLOGI FINANSIAL (selanjutnya disebut <b>"JULO"</b>) sebagai penyelenggara Layanan Pinjam Meminjam Uang Berbasis Teknologi Informasi, sesuai dengan Peraturan OJK No.77/POJK.01/2016.</li>
    <li>Penerima Pinjaman yang memiliki identitas sebagai berikut:
      <table>
        <tbody>
            <tr>
                <th style="text-align: left; padding-left: 20px; vertical-align: top; white-space: nowrap;">Nama:</th>
                <td>{{ application.fullname | safe }}</td>
            </tr>
            <tr>
                <th style="text-align: left; padding-left: 20px; vertical-align: top; white-space: nowrap; width: 50px;">Tanggal Lahir:</th>
                <td>{{ dob | safe }}</td>
            </tr>
            <tr>
                <th style="text-align: left; padding-left: 20px; vertical-align: top; white-space: nowrap;">Nomor KTP:</th>
                <td>{{ application.ktp | safe }}</td>
            </tr>
            <tr>
                <th style="text-align: left; padding-left: 20px; vertical-align: top; white-space: nowrap;">Nomor Telepon:</th>
                <td>{{ application.mobile_phone_1 | safe }}</td>
            </tr>
            <tr>
                <th style="text-align: left; padding-left: 20px; vertical-align: top; white-space: nowrap; width: 100px;">Alamat:</th>
                <td>{{ full_address | safe }}</td>
            </tr>
        </tbody>
      </table>
    </li>
  </ol>
  <p>Penerima Pinjaman menyatakan setuju untuk mengikatkan diri kepada JULO atas ketentuan-ketentuan sebagai berikut:</p>
  <ol>
    <li>
        Bahwa Penerima Pinjaman mengajukan permohonan dengan nomor perjanjian
        pinjaman {{ application.application_xid }} melalui JULO, dan telah disetujui
        pinjaman uang tunai sebesar {{ loan_amount }} , dengan biaya provisi sebesar
        {{ provision_fee_amount }} dan suku bunga sebesar {{ interest_rate }} <b>(“Pinjaman”)</b></li>
    <li>
        Bahwa Penerima Pinjaman berjanji untuk melunasi Pinjaman dengan melakukan
        pembayaran sesuai dengan jadwal berikut ini:<br>
        Cicilan harian sebesar {{ installment_amount}} dimulai dari tanggal {{ start_date }}
        sampai tanggal {{ end_date }} ({{ total_number_of_payments }} hari)
    </li>
    <li>
        Bahwa Penerima Pinjaman akan melakukan pembayaran setiap hari sebelum tanggal jatuh tempo.
        Keterlambatan akan dikenakan biaya denda sebesar {{ late_fee_amount }} per hari, untuk setiap angsuran yang
        terlambat, dengan total kumulatif tidak melebihi {{ maximum_late_fee_amount }}.
    </li>
    <li>
        Sehubungan dengan status Penerima Pinjaman selaku mitra pengemudi terdaftar dan
        aktif pada Aplikasi Grab <b>(“Mitra Pengemudi”)</b> yang dikelola oleh PT Grab Teknologi
        Indonesia dan afiliasinya <b>(“Grab”)</b>, pada saat penandatanganan Perjanjian ini, maka
        Penerima Pinjaman, selama terdaftar sebagai Mitra Pengemudi, dengan ini sepakat untuk:
        <ol style="list-style-type: lower-alpha;">
            <li>
                wajib mengisi ulang dan menjaga total saldo pada dompet elektronik Mitra Pengemudi dalam
                Aplikasi Grab, baik credit wallet maupun cash wallet-nya yang terdaftar atas nama Penerima
                Pinjaman <b>(“Dompet Mitra Pengemudi”)</b>, sekurang-kurangnya sebesar total cicilan terutang
                yang telah jatuh tempo pada hari pembayaran;
            </li>
            <li>
                Selama aktif menjadi Mitra Pengemudi, Penerima Pinjaman dengan ini:
                <ol style="list-style-type: upper-roman;">
                    <li>
                        Setuju untuk memberikan kuasa kepada JULO untuk mengungkapkan data pribadi
                        yang relevan (yaitu: nama lengkap sesuai KTP, Nomor KTP), serta total cicilan
                        terutang yang telah jatuh tempo kepada Grab untuk kepentingan pemotongan atas
                        saldo Dompet Mitra Pengemudi;
                    </li>
                    <li>
                        setuju untuk dan memberikan kuasa dengan hak substitusi kepada JULO yang
                        selanjutnya JULO akan menguasakan kembali  kepada Grab, selaku pengelola
                        Aplikasi Grab di Indonesia, untuk, antara lain (A) melakukan pemotongan
                        atas saldo Dompet Mitra Pengemudi, sejumlah cicilan terutang Penerima
                        Pinjaman sebagaimana diberitahukan oleh JULO kepada Grab dari waktu ke
                        waktu dan telah disetujui secara tegas oleh Penerima Pinjaman; (B) jika
                        saldo Dompet Mitra Pengemudi tidak mencukupi untuk memenuhi jumlah cicilan
                        yang terhutang, melakukan beberapa upaya pemotongan atas saldo akan
                        dilakukan setiap hari sampai jumlah penuh yang tersisa untuk jumlah
                        cicilan yang relevan diterima; dan (C) mengambil langkah apa pun yang
                        diperlukan terhadap Penerima Pinjaman untuk melaksanakan dan memastikan
                        pembayaran angsuran, termasuk menambahkan fitur(-fitur) yang relevan
                        untuk membatasi transfer sejumlah uang tertentu dari Dompet Mitra Pengemudi
                        untuk membantu Penerima Pinjaman dalam melakukan pembayaran cicilan
                        kepada JULO;
                    </li>
                    <li>
                        memberikan persetujuan bagi JULO, melalui kanal komunikasi yang dimiliki
                        atau dikelola oleh Grab, untuk memberikan pemberitahuan serta peringatan
                        kewajiban membayar cicilan terutang dari waktu ke waktu selama Perjanjian
                        ini belum berakhir dan Penerima Pinjaman masih memiliki kewajiban terutang
                        terhadap JULO dan Pemberi Pinjaman;
                    </li>
                    <li>
                        setuju bahwa selama Penerima Pinjaman tetap sebagai Mitra Pengemudi dan
                        memiliki pembayaran Pinjaman yang terutang berdasarkan Perjanjian ini,
                        Penerima Pinjaman tidak akan mengajukan pinjaman lain melalui JULO dan setuju
                        bahwa JULO memiliki hak untuk menolak aplikasi pinjaman dalam hal tersebut;
                    </li>
                    <li>
                        setuju untuk tidak menjual, menghibahkan, atau mengalihkan dalam bentuk apapun
                        atas akun/Aplikasi Grab yang dimilikinya semata-mata untuk mengalihkan kewajibannya
                        dalam pembayaran Pinjaman yang terutang, terkecuali Aplikasi Grab yang dimiliki
                        dinonaktifkan sementara oleh Grab Indonesia untuk menghindari penyalahgunaan akun;
                    </li>
                    <li>
                        setuju untuk tetap bertanggung jawab atas segala pembayaran Pinjaman berikut bunga,
                        dan denda keterlambatan (jika ada) apabila layanan Penerima sebagai Mitra Pengemudi
                        diakhiri atau ditangguhkan atas alasan apapun;
                    </li>
                </ol>
            </li>
            <li>
                Penerima Pinjaman dengan ini membebaskan Grab dan JULO dari segala tuntutan, akibat hukum,
                dan/atau kerugian yang ditimbulkan bagi Penerima Pinjaman sehubungan dengan Perjanjian ini,
                termasuk namun tidak terbatas pada pemotongan saldo Dompet Mitra Pengemudi oleh Grab yang
                dilakukan sesuai dengan kuasa yang diberikan secara khusus di luar Perjanjian ini,
                sepanjang Grab dapat membuktikan bahwa pemotongan tersebut sesuai dengan  cicilan terutang
                Penerima Pinjaman sebagaimana diberitahukan oleh JULO kepada Grab dari waktu ke waktu;
            </li>
            <li>
                Dalam hal Penerima Pinjaman tidak lagi terdaftar sebagai Mitra Pengemudi dengan alasan
                apapun, maka Penerima Pinjaman wajib untuk memberitahukan hal tersebut kepada JULO
                selambat-lambatnya 7 hari sejak tanggal efektif deregistrasi tersebut melalui :
                <ol style="list-style-type: decimal;">
                    <li>
                        Email: cs@julo.co.id;
                    </li>
                    <li>
                        Call Center :021 5091 9034 / 021 5091 9036 (senin-minggu pukul 08.00-17.00);
                    </li>
                    <li>
                        Whatsapp : 0811 1778 2070 / 0813 1778 2065 <i>(chat only)</i>.<br>
                    </li>
                </ol>
            </li>
            <li>
                Kewajiban Penerima Pinjaman untuk melakukan pembayaran Pinjaman akan terus berlanjut
                meskipun ada penangguhan atau penghentian Penerima Pinjaman sebagai Mitra Pengemudi
                maupun kondisi lainnya yang mempengaruhi kemampuan bayar Penerima Pinjaman
                selama tenor Pinjaman.
            </li>
        </ol>
    </li>
    <li>
        Bahwa jika terjadi keterlambatan sebagaimana pasal 3 di atas, maka Penerima Pinjaman bersedia,
        setuju, dan memberikan izin kepada Pejabat JULO atau pihak yang ditunjuk JULO untuk melakukan
        penagihan dan/atau kunjungan sesuai dengan peraturan di Indonesia.
    </li>
    <li>
        Pemberian Kuasa<br/>
        Bahwa merujuk pada Surat Kuasa no. SK001, JULO sebagai penyelenggara Layanan Pinjam Meminjam
        Uang Berbasis Teknologi Informasi diberikan otoritas dan kuasa penuh oleh Pemberi Pinjaman
        untuk bertindak mewakili Pemberi Pinjaman dalam hal menerima dan menggunakan segala informasi
        Penerima Pinjaman terkait permohonan dan penagihan Pinjaman, hingga kewajiban
        Penerima Pinjaman berakhir.<br>
    </li>
    <li>
        Pengalihan<br>
        <ol style="list-style-type: lower-alpha;">
        <li>Setiap Pemberi Pinjaman dapat, tanpa memberikan pemberitahuan sebelumnya
        kepada Penerima Pinjaman, mengalihkan hak dan kewajibannya kepada pihak lain, sesuai ketentuan
        pengalihan hak dan kewajiban dalam perjanjian kerjasama antara JULO dengan Pemberi Pinjaman no.
            1.JTF.201707.<br/></li>
        <li>Penerima Pinjaman menyetujui dan mengakui keabsahan pengalihan yang dilakukan
            setiap Pemberi Pinjaman berdasarkan Pasal 8 (a) di atas, dan tidak akan mengajukan
            keberatan atas pengalihan yang dilakukan demikian.<br/></li>
        <li>Penerima Pinjaman tidak diperkenankan mengalihkan atau mentransfer haknya
            atau kewajibannya kepada pihak lain.</li>
        </ol>
    </li>
    <li>
        Pernyataan Persetujuan<br>
        Penerima Pinjaman dan JULO mengerti atas hak dan kewajiban masing-masing pihak, sesuai
        dengan yang tertuang pada Perjanjian ini dan akan senantiasa mematuhi ketentuan hukum
        yang berlaku dalam melaksanakan Perjanjian ini. Sengketa yang mungkin timbul dari
        penafsiran dan/atau pelaksanaan Perjanjian ini akan diselesaikan melalui musyawarah
        untuk mencapai mufakat antara kedua belah pihak dan/atau melalui jalur hukum yurisdiksi
        yang kompeten. Para Pihak dengan ini mengakui dan setuju (a) untuk terikat dengan ketentuan
        yang diatur dalam Perjanjian ini, termasuk penyesuaian apa pun yang akan diberitahukan oleh
        JULO dari waktu ke waktu melalui kanal komunikasi JULO dan/atau Grab (semisal: pemberitahuan
        dalam aplikasi (in-app notification), blog, situs web) yang pengakuan dan persetujuan tersebut
        tidak perlu ditandatangani oleh Para Pihak, dan (ii) pengakuan dan persetujuan atas penyesuaian
        tersebut merupakan bagian yang tidak terpisahkan dan satu kesatuan dari Perjanjian ini.
        <br>
    </li>
    <li>
        Keadaan Kahar<br>
        Definisi Keadaan Kahar adalah suatu keadaan tanpa kesalahan ataupun kelalaian yang
        diakibatkan oleh salah satu Pihak yang terjadi di luar kendali Pihak tersebut, dimana
        Pihak tersebut secara wajar tidak mampu untuk mencegah atau mengatasinya, termasuk
        namun tidak terbatas pada bencana alam, wabah penyakit, perang (baik dideklarasikan
        maupun tidak), invasi, konflik bersenjata, kerusuhan, demonstrasi, revolusi atau kudeta,
        tindak terorisme, sabotase atau kerusakan akibat kriminalisme (yang mengakibatkan cedera
        fisik sehingga Pihak dan/atau perwakilan Pihak yang mengalami Keadaan Kahar harus dirawat
        di rumah sakit selama lebih dari 1 (satu) bulan atau bahkan yang menyebabkan cacat fisik
        berat atau kematian), gangguan listrik, gangguan sistem atau jaringan pihak ketiga lainnya
        atau perubahan peraturan perundang-undangan atau kebijakan pemerintah yang dapat mempengaruhi
        kemampuan salah satu Pihak ataupun Para Pihak. Dalam Keadaan Kahar, Penerima Pinjaman tetap
        bertanggung jawab atas kewajibannya berdasarkan Perjanjian ini.
        <br>
    </li>
  </ol>
<p>
            Perjanjian ini dibuat oleh JULO secara elektronik dan secara sah, serta mengikat Para
            Pihak terhitung mulai dari hari dan tanggal tersebut diatas. Perjanjian ini memiliki kekuatan hukum
            yang sama dengan perjanjian yang dicetak, ditulis tangan dan ditandatangani secara sadar dan tanpa
            paksaan dari pihak manapun, serta dilindungi oleh UU. No. 11/2008 tentang Informasi dan Transaksi
            Elektronik, dan Peraturan Pemerintah No.82/2012 tentang Penyelenggaraan Sistem dan Transaksi Elektronik,
            dan Peraturan Pelaksananya. Segala penyalahgunaan atas dokumen perjanjian ini akan ditindak sesuai dengan
            hukum dan peraturan yang berlaku.
</p>
  <br />
</body>
</html>