{% load unit %}
{% load static %}

<table id="ca_table" class="ca_table table table-hover table-striped ">
  <tbody>
    <tr>
      <td class="col-xs-8">
        <div class="col-xs-4 no-left">
          <strong>Nama produk</strong>
        </div>
        <div class="col-xs-8">
          <div class="input-group input-group-sm">
            : {{ object.j_financing_checkout.j_financing_product.name }}
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td class="col-xs-8">
        <div class="col-xs-4 no-left">
          <strong>Tanggal transaksi</strong>
        </div>
        <div class="col-xs-4">
          <div class="input-group input-group-sm">
            : {{ object.loan.cdate|date:"d M Y"|default:"-"}}
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td class="col-xs-8">
        <div class="col-xs-4 no-left">
          <strong>Harga produk</strong>
        </div>
        <div class="col-xs-4">
          <div class="input-group input-group-sm">
            : Rp{{ object.j_financing_checkout.price }}
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td class="col-xs-8">
        <div class="col-xs-4 no-left">
          <strong>Ongkir</strong>
        </div>
        <div class="col-xs-4">
          <div class="input-group input-group-sm">
            : Rp{{ object.j_financing_checkout.shipping_fee|default:"0" }}
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td class="col-xs-8">
        <div class="col-xs-4 no-left">
          <strong>Total jumlah transaksi</strong>
        </div>
        <div class="col-xs-4">
          <div class="input-group input-group-sm">
            : Rp{{ object.loan.loan_amount }}
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
