<!-- customtab -->
<ul class="nav nav-tabs tabs">
  <li class="active tab">
    <a href="#personal" data-toggle="tab"> <span class="visible-xs">
    <i class="fa fa-home"></i></span> <span class="hidden-xs">Data Pribadi</span> </a> 
  </li>
  <li class="tab"><a href="#loan" data-toggle="tab"> 
    <span class="visible-xs"><i class="fa fa-user"></i></span> <span class="hidden-xs">Pinjaman</span> </a> 
  </li>
  <li class="tab"><a href="#family" data-toggle="tab" aria-expanded="true"> 
    <span class="visible-xs"><i class="fa fa-envelope-o"></i></span> <span class="hidden-xs">Keluarga</span> </a> 
  </li>
  <li class="tab"><a href="#working" data-toggle="tab" aria-expanded="false"> 
    <span class="visible-xs"><i class="fa fa-cog"></i></span> <span class="hidden-xs">Pekerjaan</span> </a> 
  </li>
  <li class="tab"><a href="#app_status" data-toggle="tab" aria-expanded="false"> 
    <span class="visible-xs"><i class="fa fa-cog"></i></span> <span class="hidden-xs">Status Aplikasi</span> </a> 
  </li>
</ul>

<div class="tab-content">
  <!-- Tab Personal -->
  <div class="tab-pane active" id="personal">
    {% include "object/loan_app/include/tab_personal.html" %}
  <!-- End tab personal -->
  </div>

  <!-- Tab Pinjaman -->
  <div class="tab-pane" id="loan">
    {% include "object/loan_app/include/tab_loan.html" %}
  </div>

  <!-- Tab Keluarga -->
  <div class="tab-pane" id="family">
    {% include "object/loan_app/include/tab_family.html" %}
  </div>

  <!-- Tab Pekerjaan -->
  <div class="tab-pane" id="working">
    {% include "object/loan_app/include/tab_working.html" %}
  </div>

  <!-- Tab Status Aplikasi -->
  <div class="tab-pane" id="app_status">
    {% include "object/loan_app/include/tab_app_status.html" %}
  </div>
</div>


