{% load checkusergroup from common %}
{% load unit %}

<!-- Left navbar-header -->
  <div class="navbar-default sidebar" role="navigation">

    <div class="sidebar-nav navbar-expanded slimscrollsidebar">

      <ul class="nav" id="side-menu">
        <li class="sidebar-search hidden-sm hidden-md hidden-lg">
          <!-- input-group -->
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Cari...">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span> </div>
          <!-- /input-group -->
        </li>

        <li id="mnu_dashboard_li"> <a href="{% url 'dashboard:default' %}" class="waves-effect">
          <i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Dashboard
          </a>
          <ul class="nav nav-second-level">
            {% checkusergroup in ['collection_agent_2'] %}
                <li><a href="{% url 'dashboard:collection_agent_2'%}" class="waves-effect">Dashboard Agent 2
                  </a>
                </li>
            {% endcheckusergroup %}
            {% checkusergroup in ['collection_agent_3'] %}
                <li><a href="{% url 'dashboard:collection_agent_3'%}" class="waves-effect">Dashboard Agent 3
                  </a>
                </li>
            {% endcheckusergroup %}
            {% checkusergroup in ['collection_agent_4'] %}
                <li><a href="{% url 'dashboard:collection_agent_4'%}" class="waves-effect">Dashboard Agent 4
                  </a>
                </li>
            {% endcheckusergroup %}
            {% checkusergroup in ['collection_agent_5'] %}
                <li><a href="{% url 'dashboard:collection_agent_5'%}" class="waves-effect">Dashboard Agent 5
                  </a>
                </li>
            {% endcheckusergroup %}
            {% checkusergroup in ['collection_supervisor'] %}
                <li><a href="{% url 'loan_status:bulk_loan_reassignment' %}" class="waves-effect">Loan Reassignment
                </a>
              </li>
            {% endcheckusergroup %}
            {% checkusergroup in ['julo_partners'] %}
                <li><a href="{% url 'dashboard:lender_list_page'%}" class="waves-effect">My Dashboard
                  </a>
                </li>
            {% endcheckusergroup %}
            {% checkusergroup in ['product_manager'] %}
                <li><a href="{% url 'app_status:mass_move_apps'%}" class="waves-effect">Mass Move by CSV
                  </a>
                </li>
            {% endcheckusergroup %}
            {% checkusergroup in ['bo_finance'] %}
                <li><a href="{% url 'dashboard:bo_finance'%}" class="waves-effect">Dashboard Finance
                  </a>
                </li>
            {% endcheckusergroup %}
          </ul>
        </li>

        {% checkusergroup in ['product_manager'] %}
        <li id="mnu_master_li"> <a href="#" class="waves-effect"><i data-icon="&#xe006;" class="linea-icon linea-basic fa-fw"></i>
          <span class="hide-menu"> Collection HI Season <span class="fa arrow"></span></span>
          </a>
          <ul class="nav nav-second-level">
            <li id="mnu_status_selection_li"> <a href="{%url 'collection_hi_season:collection_hi_season_campaign_list' %}" >
              <span class="hide-menu"> List </span>
              </a>
            </li>

            <li id="mnu_reason_selection_li"> <a href="{%url 'collection_hi_season:collection_hi_season_campaign_form' %}" >
              <span class="hide-menu"> Add New </span>
              </a>
            </li>
          </ul>
        </li>
        {% endcheckusergroup %}

        {% checkusergroup in ['cs_admin'] %}
        <li id="mnu_master_li"> <a href="#" class="waves-effect"><i data-icon="&#xe006;" class="linea-icon linea-basic fa-fw"></i>
          <span class="hide-menu"> CS Admin <span class="fa arrow"></span></span>
          </a>
          <ul class="nav nav-second-level">
            <li id="mnu_status_selection_li"> <a href="{%url 'customer_module:manual-deletion' %}" >
              <span class="hide-menu"> Manual </span>
              </a>
            </li>

            <li id="mnu_reason_selection_li"> <a href="{%url 'customer_module:deletion-request-inapp' %}" >
              <span class="hide-menu"> JULO App </span>
              </a>
            </li>
          </ul>
        </li>
        {% endcheckusergroup %}

        {%if julo_roles|length > 0 %}
          <li><a href="javascript:void(0)" class="waves-effect">
            <i class="linea-icon linea-basic fa-fw text-danger" data-icon="7"></i> <span class="hide-menu">
              Pindah Role<span class="fa arrow"></span>
            </span></a>
            <ul class="nav nav-second-level">
            {% for role_item in julo_roles %}
                <li><a href="{{ role_item.url }}" class="waves-effect">{{ role_item.role|display_safe }}
                  </a>
                </li>
            {% empty %}
                <li>Tidak ada</li>
            {% endfor %}
            </ul>
          </li>
        {% endif %}

        {% include 'common/theme1/navbar/includes/cs_admin_menu.html' %}

        {% include 'common/theme1/navbar/includes/account_deletion_history.html' %}

        <li id="mnu_application_li"> <a href="#" class="waves-effect"><i data-icon="C" class="linea-icon linea-basic fa-fw"></i>
          <span class="hide-menu">AR Switching<span class="fa arrow"></span></span>
          </a>
          <ul class="nav nav-second-level">
            <li id="mnu_app_img_verify_li"> <a href="{% url 'channeling_loan_portal:ar_switching' %}" >
              <span class="hide-menu">AR Switching Upload</span>
              </a>
            </li>
          </ul>
        </li>

        <li id="mnu_application_li"> <a href="#" class="waves-effect"><i data-icon="U" class="linea-icon linea-basic fa-fw"></i>
          <span class="hide-menu">Loan Write Off<span class="fa arrow"></span></span>
          </a>
          <ul class="nav nav-second-level">
            <li id="mnu_app_img_verify_li"> <a href="{% url 'channeling_loan_portal:write_off' %}" >
              <span class="hide-menu">Write Off Upload</span>
              </a>
            </li>
          </ul>
        </li>

        <li id="mnu_master_li"> <a href="#" class="waves-effect"><i data-icon="D" class="linea-icon linea-basic fa-fw"></i>
          <span class="hide-menu"> Lender Withdraw / Repayment <span class="fa arrow"></span></span>
          </a>
          <ul class="nav nav-second-level">
            <li id="mnu_status_selection_li"> <a href="{%url 'channeling_loan_portal:lender_osp_transaction_list' %}" >
              <span class="hide-menu"> Withdraw Batch List </span>
              </a>
            </li>
            <li id="mnu_status_selection_li_2"> <a href="{%url 'channeling_loan_portal:lender_repayment_list' %}" >
              <span class="hide-menu"> Repayment List </span>
              </a>
            </li>
          </ul>
        </li>

        <li id="mnu_master_li"> <a href="#" class="waves-effect"><i data-icon="F" class="linea-icon linea-basic fa-fw"></i>
          <span class="hide-menu">Balance Lender <span class="fa arrow"></span></span>
          </a>
          <ul class="nav nav-second-level">
            <li id="mnu_status_selection_li"> <a href="{%url 'channeling_loan_portal:lender_osp_account_list' %}" >
              <span class="hide-menu"> List </span>
            </a>
            </li>
          </ul>
        </li>

        {%if channeling_menu_list|length > 0 %}
          <li id="mnu_application_li"> <a href="#" class="waves-effect"><i data-icon="z" class="linea-icon linea-basic fa-fw"></i>
            <span class="hide-menu">Channeling Loan<span class="fa arrow"></span></span>
            </a>
            <ul class="nav nav-second-level">
              {% for channeling_name in channeling_menu_list %}
                <li id="mnu_app_img_verify_li"> <a href="{% url 'channeling_loan_portal:list' channeling_name %}" >
                  <span class="hide-menu">{{ channeling_name }} Channeling  </span>
                  </a>
                </li>
              {% empty %}
                  <li>Tidak ada</li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}

        <li>
          <a href="{% url 'logout'%}" class="waves-effect hidden-md hidden-lg hidden-sm"><i class="icon-logout fa-fw"></i> <span class="hide-menu">Log out</span></a>
          <a href="javascript:void(0)" alt="alert" class="img-responsive model_img hidden-xs" id="signout-warning2">
            <i class="icon-logout fa-fw"></i> <span class="hide-menu">Log out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Left navbar-header end -->
