{% load checkusergroup from common %}
{% load unit %}

<!-- Left navbar-header -->
  <div class="navbar-default sidebar" role="navigation">

    <div class="sidebar-nav navbar-expanded slimscrollsidebar">

      <ul class="nav" id="side-menu">
        <li class="sidebar-search hidden-sm hidden-md hidden-lg">
          <!-- input-group -->
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Cari...">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span> </div>
          <!-- /input-group -->
        </li>
        <li id="mnu_application_li"> <a href="#" class="waves-effect"><i class="icon-folder"></i>
          <span class="hide-menu m-l-10"> Applications<span class="fa arrow"></span></span>
          </a>
          <ul class="nav nav-second-level">
            <li id="mnu_app_status_1220_li"> <a href="{% url 'app_status:list_w_status' 1220 %}" target="_blank">
              <span class="hide-menu"> <i class="fa fa-arrow-right m-t-10"></i> 1220</span>
              </a>
            </li>
            <li id="mnu_app_status_1240_li"> <a href="{% url 'app_status:list_w_status' 1240 %}" target="_blank">
              <span class="hide-menu"> <i class="fa fa-arrow-right m-t-10"></i> 1240</span>
              </a>
            </li>
            <li id="mnu_app_status_1380_li"> <a href="{% url 'app_status:list_w_status' 1380 %}" target="_blank">
              <span class="hide-menu"> <i class="fa fa-arrow-right m-t-10"></i> 1380</span>
              </a>
            </li>
          </ul>
        </li>

        <li>
          <a href="{% url 'logout'%}" class="waves-effect hidden-md hidden-lg hidden-sm"><i class="icon-logout fa-fw"></i> <span class="hide-menu">Log out</span></a>
          <a href="javascript:void(0)" alt="alert" class="img-responsive model_img hidden-xs" id="signout-warning2">
            <i class="icon-logout fa-fw"></i> <span class="hide-menu">Log out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Left navbar-header end -->
