{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" href="{% static 'plugins/js/selectize/selectize-bootstrap3.css' %}">
<style type="text/css">
    .form-row {
        overflow: visible;
    }
    .selectize-control {
        width: 300px;
        display: inline-grid;
    }
</style>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('.add-another').click(function(e) {
                    e.preventDefault();
                    var event = $.Event('django:add-another-related');
                    $(this).trigger(event);
                    if (!event.isDefaultPrevented()) {
                        showAddAnotherPopup(this);
                    }
                });
            {% if adminform and add %}
                $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
            {% endif %}
            });
        })(django.jQuery);
    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>

<script src="{% static 'theme/plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'theme/bootstrap/dist/js/bootstrap.js' %}"></script>
<script src="{% static 'plugins/js/selectize/selectize.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() { 

        $('.banner-setting-control').selectize();

        $('#id_due_date_month').parent('div').append('<input disabled type="text" id="id_due_date_month1" style= "width:285px" class="d-none" name="due_date_month" onchange="enable_due_date_month()" />');

        var input = document.getElementById("id_due_date_payment").value;
        if (input.trim() == '') {
            $('#id_due_date_month1').css("display","block"); 
            $('.field-due_date_month .selectize-control.banner-setting-control.multi').addClass('d-none');
        }
        else{
            $('#id_due_date_month1').css("display","none"); 
            $('.field-due_date_month .selectize-control.banner-setting-control.multi').removeClass('d-none');
        }

        var show = document.getElementById('id_can_reapply').value;
        if (show.trim()!=''){
            $('.can_apply.selectize-control.banner-setting-control.multi').addClass('hasValue');
        }
    });
    
    
    function enable_due_date_month(){
        var input = document.getElementById("id_due_date_payment").value;
        if (input.trim() == '') {
            $('#id_due_date_month1').css("display","block"); 
            $('.field-due_date_month .selectize-control.banner-setting-control.multi').addClass('d-none');
            var elements = document.getElementById("id_due_date_month").options;

            for(var i = 0; i < elements.length; i++){
                elements[i].selected = false;
            }            
        }
        else{            
            $('#id_due_date_month1').css("display","none"); 
            $('.field-due_date_month .selectize-control.banner-setting-control.multi').removeClass('d-none');
        }        
    }
    
    function show_true_false(){
        var show = document.getElementById('id_can_reapply').value;
        if (show.trim()!=''){
            $('.can_apply.selectize-control.banner-setting-control.multi').addClass('hasValue');
        }
        else{
           $('.can_apply.selectize-control.banner-setting-control.multi').removeClass('hasValue');
        }
    }
</script>
<style>
    .can_apply.hasValue .selectize-dropdown {
    display: none !important;
}
.d-none {
    display: none;
}
.d-block {
    display: block;
}
</style>
{% endblock %} 