{% extends "common/theme1/detail/detail_theme1.html" %}
{% load model %}

{% block breadcrumb_title %}
  
{% endblock %}
{% block breadcrumb_path %}
    <li><a href="{% url 'payment:list_partial_payment' %}">Payment</a></li>
    <li class="active">Detail</li>
{% endblock %}
 
{% block list_title %}
        Data Payment
{% endblock %}
{% block list_subtitle %}{% endblock %}

{% block content-list %}
    
    {% include "object/payment/include/details.html" %}
    
{% endblock %}


{% block button_part %}
  <a href="{% url 'payment:list_partial_payment' %}">
    <button id="back" type="button" class="btn btn-info">
      <i class="fa fa-back"></i> << Kembali ke Daftar Pencarian Data
    </button>
  </a>
{% endblock %}


{% block script_bottom_inside %}
  $(document).ready(function() {

      // Executes when the HTML document is loaded and the DOM is ready
      //alert("Document is ready");
  });
{% endblock %}